<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <img #logo src="../assets/eyedentify.png">
  <div class="col-2">
    <div class="">
      <app-paper-canvas></app-paper-canvas>
    </div>
    <div>
      <h3>Identify is a web service that identifies people you know from photo and video streams using a library of your contacts and Microsoft’s Face API.</h3>
      <h3>Upload Image</h3>
      <input type="url" id="url-input" (change)="this.previewURL($event)">
      <div *ngIf="identifiedName" class="identified">
        <div class="check">
        </div>
        <div class="wrap">
          <h4>IDENTIFIED</h4>
          <h1>{{identifiedName}}</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- <input type="file" id="upload-input" (change)="this.previewFile($event)"> -->
</div>

<router-outlet></router-outlet>
