@import url("https://use.typekit.net/ckg0nhf.css");

$sans-serif: roboto,
sans-serif;

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: $sans-serif;
  box-sizing: border-box;

  img {
    width: 35%;
    align-self: center;
    margin-bottom: 1rem;
  }

  .col-2 {
    border-top: 1px solid #000;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 600px;

    div {
      display: flex;
      flex-direction: column;
    }

    div:first-child {
      text-align: right;
      padding-right: 2rem;
    }

    div:last-child {
      padding-left: 2rem;

      h3:nth-child(2) {
        font-weight: lighter;
        text-transform: uppercase;
      }

      .identified {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        padding: 1rem;
        width: 72%;
        border-radius: 3px;

        .wrap {
          h4 {
            text-transform: uppercase;
            color: #fff;
            font-weight: 300;
            margin: 0rem;
            letter-spacing: .1rem;
            text-align: right;
          }

          h1 {
            text-transform: capitalize;
            color: #fff;
            font-weight: bold;
            margin-bottom: 0rem;
            margin-top: 0rem;
            text-align: right;
          }

        }

        .check {
          width: 50px;
          height: 50px;
          background-image: url('../assets/check_circle.svg');
          background-repeat: no-repeat;
          background-size: contain;
        }


        background: #55c1ff;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #55c1ff 0%, #5887ff 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #55c1ff 0%, #5887ff 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #55c1ff 0%, #5887ff 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55c1ff', endColorstr='#5887ff', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */

      }


    }
  }
}

input {
  padding: .75rem .25rem;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  width: 75%;
  font-size: 1rem;
}